.tag-link {
    text-decoration: none;
}

.tag-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--dark-grey);
}

.card-restricted-text {
    white-space: pre-line;
    line-clamp: 3;
}