.club-banner {
    border-bottom: 5px black solid;
    padding: 0 !important;
    height: 18rem !important;
    -o-object-fit: cover;
       object-fit: cover;
}

.page-title {
    padding: 3rem !important;
}

.edit-club-bio textarea {
    width: 100%;
    height: auto;
    background-color: transparent;
    resize: none;
}

