:root{
    --delete-light: #c22727;
    --delete-dark: #960000;
}

label {
    font-size: 14px;
}

.field:not(.bio) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bio textarea {
    margin-top: 1rem; 
    height: auto;
    resize: none; 
}

.bio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
} 

.avatar {
    margin-bottom: 1rem; 
}

button {
    margin: 1rem 0;
}

.delete {
    background-color: var(--delete-light) !important;
}

.delete:hover{
    background-color: var(--delete-dark) !important;
}

.delete-container{
    border: solid var(--status-red) 2px;
    padding: 2em;
}

.delete-title{
    margin-top: 0;
}

.delete-confirmation{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.delete-confirmation .delete-box{
    padding: 1em;
    margin: auto;
    background-color: white;
    border: solid var(--status-red) 2px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
}

.delete-confirmation span{
    height: fit-content;
}